<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>List of Insurance Companies</strong></h1>
                            <br>
                            <article style="width: auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Company Name</strong></th>
                                            <th scope="col"><strong>Email</strong></th>
                                            <th scope="col"><strong></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let ins of insurance) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= ins.coName %>
                                                </th>
                                                <td>
                                                    <%= ins.email1 %>
                                                </td>
                                                <td>
                                                    <a class="btn-esm text-center" style="width: 150px" href="/insEdit/<%= ins.id %>">Edit</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </article>
                        </div>

                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>