<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>List of Subcontractors</strong></h1>
                            <br>
                            <article style="width: auto">
                                <h3>Active Subcontractors</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Company Name</strong></th>
                                            <th scope="col"><strong>Contact</strong></th>
                                            <th scope="col"><strong>Email</strong></th>
                                            <th scope="col"><strong></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let asub of asubs) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= asub.coName %>
                                                </th>
                                                <td>
                                                    <%= asub.contact %>
                                                </td>
                                                <td>
                                                    <%= asub.email %>
                                                </td>
                                                <td>
                                                    <a class="btn-esm text-center" style="width: 150px" href="/subEdit/<%= asub.id %>">Edit</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </article>
                            <br>
                            <article style="width: auto">
                                <h3>Active Subcontractor>
                                    <h3>Inactive Subcontractors</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"><strong>Company Name</strong></th>
                                                <th scope="col"><strong>Contact</strong></th>
                                                <th scope="col"><strong>Email</strong></th>
                                                <th scope="col"><strong></strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let sub of subs) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= sub.coName %>
                                                    </th>
                                                    <td>
                                                        <%= sub.contact %>
                                                    </td>
                                                    <td>
                                                        <%= sub.email %>
                                                    </td>
                                                    <td>
                                                        <a class="btn-esm text-center" style="width: 150px" href="/subEdit/<%= sub.id %>">Edit</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                            </article>
                        </div>


                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>