<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/info.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <br>
                    <h1>Edit Supervisor</h1>
                    <br>
                </div>
                <article class="ownerinfo">
                    <form class="form" action="/supEdit" method="POST">
                        <div class="row">
                            <div class="col-sm">
                                <input type="hidden" name="supId" id="supId" value="<%= supervisors.id %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="name"><strong>Supervisor Name:</strong></label>
                                <input style="width: 500px" type="text" name="name" id="name" value="<%= supervisors.name %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="email"><strong>Email</strong></label>
                                <input style="width: 500px" type="text" name="email" id="email" value="<%= supervisors.email %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="active"><strong>Active?</strong></label>
                                <input style="width: 100px" type="text" name="active" id="active" value="<%= supervisors.active%> "> Enter True for Active and False for Inactive
                            </div>
                        </div>
                        <br>
                        <div class="centered">
                            <br>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="updatebtn" type="submit">Save</button>
                        </div>
                    </form>
                </article>
            </main>

            <%- include('../includes/footer.ejs') %>