<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>List of Supervisors</strong></h1>
                            <br>
                            <article>
                                <h3>Active Supervisors</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Name</strong></th>
                                            <th scope="col"><strong>Email</strong></th>
                                            <th scope="col"><strong></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let asup of asups) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= asup.name %>
                                                </th>
                                                <td>
                                                    <%= asup.email %>
                                                </td>
                                                <td>
                                                    <a class="btn-esm text-center" style="width: 150px" href="/supEdit/<%= asup.id %>">Edit</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </article>
                            <article>
                                <h3>Inactive Supervisors</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Name</strong></th>
                                            <th scope="col"><strong>Email</strong></th>
                                            <th scope="col"><strong></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let sup of sups) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= sup.name %>
                                                </th>
                                                <td>
                                                    <%= sup.email %>
                                                </td>
                                                <td>
                                                    <a class="btn-esm text-center" style="width: 150px" href="/supEdit/<%= sup.id %>">Edit</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </article>
                        </div>


                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>