<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>SOW Addendum</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="SOW Addendum">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Materials & Colors</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Materials & Colors">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>PreCon Eval</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="PreCon Eval">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Mtg Auth</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Mtg Auth">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Ins Auth</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Ins Auth">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Assignment</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Assignment">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>GC Letter</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="GC Letter">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Origonal Scope</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Origonal Scope">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Final Scope</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Final Scope">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Supplement</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Supplement">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Photo Report</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Photo Report">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Roof Scope</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Roof Scope">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Permit</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Permit">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Cert of Completion</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Cert of Completion">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>
<article class="docList">
    <form action="/add-r-doc" method="POST">
        <div class="row">
            <div class="col-sm" style="width: 300px">
                <h6>Final Invoice</h6>
                <br>
            </div>
            <div class="col-sm">
                <input type="file" name="docFile" id="docFile"></input>
            </div>
            <br>
            <input type="hidden" name="docName" value="Final Invoice">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-smx" type="submit">Add Document</button>
        </div>
    </form>
</article>