<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">
    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>Documents</strong></h1>
                            <h4>
                                <div class="row">
                                    <div class="col-sm">
                                        Project#:
                                        <%= project.projectNo %>
                                    </div>
                                    <div class="col-sm">
                                        Owner:
                                        <%= project.owner1Fn %>
                                            <%= project.owner1Ln %>
                                    </div>
                                    <div class="col-sm">
                                        Address:
                                        <%= project.address %>
                                    </div>
                                    <div class="col-sm">
                                        City:
                                        <%= project.city %>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div class="centered">
                            <article class="document">
                                <form class="form" action="/add-doc" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="projectId"><strong>Project Id: </strong></label>
                                            <input type="text" name="projectId" id="projectId" value="<%= projId %>">
                                        </div>
                                        <div class="col-sm">
                                            <label for="docName"><strong>Document Type: </strong></label>
                                            <select style="width: 250px" class="select" name="docName" id="docName">
                                                <% for (let type of types) { %>
                                                <option value="<%= type.title %>">
                                                    <%= type.title %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="docFile"><strong>Document File: </strong></label>
                                            <input type="file" name="docFile" id="docFile">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="rowc">
                                        <h6>*Note: When adding a document not listed, use the Document Type "Other". Make certain that you rename the file you are uploading with a discriptive name prior to upload.</h6>
                                    </div>
                                    <div class="rowc">
                                        <br>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn-sm text-center" style="width: 125px" type="submit"> Add Document</button>
                                        <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to Project Details</a>
                                    </div>
                                </form><br>
                            </article>
                        </div>
                        <br>
                        <div class="centered">
                            <article class="notes">
                                <div class="row">
                                    <div class="col-sm">
                                        <strong>Project Id</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>Document Name</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>Document File</strong>
                                    </div>
                                </div>

                                <% for (let docs of doc) { %>
                                    <div class="row">
                                        <div class="col-sm">
                                            <%= docs.projectId %>
                                        </div>
                                        <div class="col-sm">
                                            <%= docs.docName %> - <a href="/document/<%= docs.id %>">Download</a>
                                        </div>
                                        <div class="col-sm">
                                            <%= docs.docFile %>
                                        </div>
                                        <div class="col-sm">
                                            <%= docs.docPath %>
                                        </div>
                                        <br>
                                    </div>
                                    <% } %>

                            </article>
                        </div>

                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>