<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/info.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main><br><br><br>
                <div class="centered">
                    <br>
                    <h1>Add Insurance Company</h1>
                    <br>
                </div>
                <article class="ownerinfo">
                    <div class="d-flex w-100 justify-content-between">
                        <form class="form" action="/add-insurance" method="POST">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="coName"><strong>Company Name:</strong></label>
                                    <input style="width: 500px" type="text" name="coName" id="coName" value="<%= insurance.coName %>">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="address"><strong>Address:</strong></label>
                                    <input style="width: 500px" type="text" name="address" id="address" value="<%= insurance.address %>">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="address2"><strong>Address 2:</strong></label>
                                    <input style="width: 500px" type="text" name="address2" id="address2" value="<%= insurance.address2 %>">
                                </div>
                            </div>
                            <br>
                            <div class="row" style="width: 100%">
                                <div class="col-sm">
                                    <label for="city"><strong>City:</strong></label>
                                    <input type="text" name="city" id="city" value="<%= insurance.city %>">
                                </div>
                                <div class="col-sm">
                                    <label for="state"><strong>State:</strong></label>
                                    <input type="text" name="state" id="state" value="<%= insurance.state %>">
                                </div>
                                <div class="col-sm">
                                    <label for="zip"><strong>Zip:</strong></label>
                                    <input id="zip" type="text" name="zip" value="<% insurance.zip %>">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="phone1"><strong>Phone 1:</strong></label>
                                    <input id="phone1" type="text" name="phone1" value="<%insurance.phone1%>">
                                </div>
                                <div class="col-sm">
                                    <label for="phone2"><strong>Phone 2:</strong></label>
                                    <input id="phone2" type="text" name="phone2" value="<%insurance.phone2 %>">
                                </div>
                                <div class="col-sm">
                                    <label for="phone3"><strong>Phone 3:</strong></label>
                                    <input id="phone3" type="text" name="phone3" value="<%insurance.phone3 %>">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <label for="email1"><strong>Email 1:</strong></label>
                                    <input style="width: 300px" type="text" name="email1" id="email1" value="<%= insurance.email1 %>">
                                </div>
                                <div class="col-sm">
                                    <label for="email2"><strong>Email 2:</strong></label>
                                    <input style="width: 300px" type="text" name="email2" id="email2" value="<%= insurance.email2 %>">
                                </div>
                            </div>
                            <br>
                            <div class="centered">
                                <br>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="updatebtn" type="submit">Add Insurance Company</button>
                            </div>
                        </form>
                    </div>
                </article>
            </main>

            <%- include('../includes/footer.ejs') %>