<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="small"><br><br><br>
                <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
                    <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                        <div class="centered">
                            <h1>Work Calendar</h1>

                            <h2>
                                <%= dowDate %>
                            </h2>
                            <article class="calendar">
                                <strong>Sunday</strong>
                                <br>
                                <%= sun %>
                                    <br>
                                    <br>
                                    <% for (let sun of sund) { %>
                                        <strong><%= sun.subcontractor.coName %></strong>
                                        <%= sun.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>
                            <article class="calendar">
                                <strong>Monday</strong>
                                <br>
                                <%= mon %>
                                    <br>
                                    <br>
                                    <% for (let mon of mond) { %>
                                        <strong><%= mon.subcontractor.coName %></strong>
                                        <%= mon.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>

                            <article class="calendar">
                                <strong>Tuesday</strong>
                                <br>
                                <%= tue %>
                                    <br>
                                    <br>
                                    <% for (let tue of tues) { %>
                                        <strong><%= tue.subcontractor.coName %></strong><br>
                                        <%= tue.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>


                            <article class="calendar">
                                <strong>Wednesday</strong>
                                <br>
                                <%= wed %>
                                    <br>
                                    <br>
                                    <% for (let wed of wedn) { %>
                                        <strong><%= wed.subcontractor.coName %></strong>
                                        <%= wed.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>

                            <article class="calendar">
                                <strong>Thursday</strong>
                                <br>
                                <%= thu %>
                                    <br>
                                    <br>
                                    <% for (let thu of thur) { %>
                                        <strong><%= thu.subcontractor.coName %></strong>
                                        <%= thu.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>
                            <article class="calendar">
                                <strong>Friday</strong>
                                <br>
                                <%= fri %>
                                    <br>
                                    <br>
                                    <% for (let fri of frid) { %>
                                        <strong><%= fri.subcontractor.coName %></strong>
                                        <%= fri.project.address %>
                                            <br>
                                            <br>
                                            <% } %>
                            </article>
                            <article class="calendar">
                                <strong>Saturday</strong>
                                <br>
                                <%= sat %>
                                    <br>
                                    <br>
                                    <% for (let sat of satu) { %>
                                        <strong><%= sat.subcontractor.coName %></strong>
                                        <%= sat.project.address %>
                                            <br>
                                            <br>
                                            <% } %>


                            </article>


            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>