<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="register">
                    <h1 class="section-title">Project #:
                        <%= proj %> Documents List</h1>
                    <br>
                </div>
                <article class="docList">
                    <form action="/add-r-doc" method="POST">
                        <div class="row">
                            <div class="col-sm" style="width: 300px">
                                Document to Add:
                                <select class="select" name="saleId" id="saleId">
                                    <option value="<%= project.sale.id %>">
                                    <% for (let sale of sal) { %>
                                    <option value="<%= sale.id %>">
                                    <%= sale.name %></option>
                                    <% } %>
                                </select>
                                <br>
                            </div>
                            <div class="col-sm">
                                <input type="file" name="docFile" id="docFile"></input>
                            </div>
                            <br>
                            <input type="hidden" name="proj" value="<%= proj %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn-smx" type="submit">Add Document</button>
                        </div>
                    </form>
                </article>


            </main>

            <%- include('../includes/footer.ejs') %>