<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>Additions</strong></h1>
                        </div>
                        <article class="notes">
                            <form class="form" action="/additions" method="POST">
                                <div class="row">

                                    <div class="col-sm">
                                        <label for="projectId"><strong>Project Id: </strong></label>
                                        <input type="text" name="projectId" id="projectId" value="<%= projId %>">
                                    </div>
                                    <div class="col-sm">
                                        <label for="entryDate"><strong>Entered On: </strong></label>
                                        <input type="text" name="entryDate" id="entryDate" value="<%= new Date() %>">
                                    </div>
                                    <div class="col-sm">
                                        <label for="enteredBy"><strong>Entered By: </strong></label>
                                        <input type="text" name="enteredBy" id="enteredBy" value="<%= userName %>">
                                        <input type="hidden" name="enteredID" value="<%= userId %>">
                                    </div>
                                    <div class="col-sm" style="width: 200px">
                                        <label for="tradeId"><strong>Trade: </strong></label>
                                        <select style="width: 200px" class="select" name="tradeId" id="tradeId">
                                    <% for (let trades of trade) { %>
                                    <option value="<%= trades.id %>">
                                    <%= trades.trade %></option>
                                    <% } %>
                                </select>
                                    </div>
                                    <div class="col-sm">
                                        <label for="addAmt"><strong>Amount: </strong></label>
                                        <input type="currency" name="addAmt" id="addAmt">
                                    </div>
                                    <div class="col-sm">
                                        <label for="addMemo"><strong>Description: </strong></label>
                                        <textarea cols="50" rows="1" type="text" name="addMemo" id="addMemo"></textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <br>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn-sm text-center" style="width: 125px" type="submit"> Add Funds</button>
                                    <br>
                                    <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to FinancialInfo</a>
                                </div>
                            </form><br>
                        </article>
                        <br>
                        <br><br>
                        <br><br>
                        <br>
                        <br>
                        <article class="notes">
                            <strong><div class="row">
                                <div class="col-sm">
                                    Entered By
                                </div>
                                <div class="col-sm">
                                    Date Entered
                                </div>
                                <div class="col-sm">
                                    Amount
                                </div>
                                <div class="col-sm">
                                    Description
                                </div>
                            </div></strong>
                            <% for (let adds of aD) { %>
                                <div class="row">
                                    <div class="col-sm">
                                        <%= adds.enteredBy %>
                                    </div>
                                    <div class="col-sm">
                                        <%= adds.entryDate %>
                                    </div>
                                    <div class="col-sm">
                                        <%= money.format(cost.costAmt) %>
                                            <% project.rcvChange += adds.addAmt %>
                                    </div>
                                    <div class="col-sm">
                                        <%= adds.addMemo %>
                                    </div>
                                    <br>
                                </div>
                                <% } %>
                                    <article>
                                        <div class="row">
                                            <div class="col-sm">
                                                <%= money.format(project.rcvChange) %>
                                            </div>
                                        </div>
                                    </article>


                        </article>


                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>