<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1><strong>Documents</strong></h1>
                </div>
                <article class="notes">
                    <div class="row">
                        <div class="col-sm">
                            <strong>Project Id: </strong>
                        </div>
                        <div class="col-sm">
                            <strong>Document Name: </strong>
                        </div>
                        <div class="col-sm">
                            <strong>Document File: </strong>
                        </div>
                    </div>
                    <% if (!docs) { %>
                        <strong><h5>There are no Documents for this project at this time</h5></strong>
                        <% } else { %>
                            <div class="row">
                                <% for (Let doc of docs) { %>
                                    <div class="col-sm">
                                        <%= doc.docName %>
                                    </div>
                                    <div class="col-sm">
                                        <%= doc.docFile %>
                                    </div>
                                    <div class="col-sm">
                                        <a class="btn-sm text-center" style="width: 150px" href="/docAdd/<%= doc.id %>">Add Document</a>
                                    </div>
                                    <div class="col-sm">
                                        <a class="btn-sm text-center" style="width: 150px" href="/docEdit/<%= doc.id %>">Edit Document</a>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <br>
                            </div>
                </article>
                <br>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>