<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1><strong>Documents</strong></h1>
                    <h4>
                        <div class="row">
                            <div class="col-sm">
                                Project#:
                                <%= project.projectNo %>
                            </div>
                            <div class="col-sm">
                                Owner:
                                <%= project.owner1Fn %>
                                    <%= project.owner1Ln %>
                            </div>
                            <div class="col-sm">
                                Address:
                                <%= project.address %>
                            </div>
                            <div class="col-sm">
                                City:
                                <%= project.city %>
                            </div>
                        </div>
                    </h4>
                </div>
                <article class="docs">
                    <% if (!docs) { %>
                        <br>
                        <h5>No Documents</h5>
                        <% } else { %>
                            <% for (let doc of docs) { %>
                                <div class="row">
                                    <% if(doc.docName === "Contingency Agreement") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>Contingency Agreement</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <div class="row">
                                    <% if(doc.docName === "SOW Addendum") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>SOW Addendum</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <div class="row">
                                    <% if(doc.docName === "Material & Color Selection") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>Material & Color Selection</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <div class="row">
                                    <% if(doc.docName === "Mortgagge Auth") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>Mortgagge Auth</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <div class="row">
                                    <% if(doc.docName === "Insurance Auth") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>Insurance Auth</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <div class="row">
                                    <% if(doc.docName === "PreCon Evaluation") { %>
                                        <div class="col-sm">
                                            Document Name: <strong><%= doc.docName %></strong>
                                        </div>
                                        <div class="col-sm">
                                            File Name: <strong><%= doc.docFile %></strong>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                        </div>
                                        <% } else { %>
                                            <div class="col-sm">
                                                Document Name: <strong>PreCon Evaluation</strong>
                                            </div>
                                            <div class="col-sm">
                                                File Name: <strong>No File Uploaded</strong>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                            </div>
                                            <div class="col-sm">
                                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                            </div>
                                            <% } %>
                                </div>
                                <br>
                                <% } %>
                                    <% } %>
                </article>
                <br>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>