<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1><strong>Documents</strong></h1>
                    <h4>
                        <div class="row">
                            <div class="col-sm">
                                Project#:
                                <%= project.projectNo %>
                            </div>
                            <div class="col-sm">
                                Owner:
                                <%= project.owner1Fn %>
                                    <%= project.owner1Ln %>
                            </div>
                            <div class="col-sm">
                                Address:
                                <%= project.address %>
                            </div>
                            <div class="col-sm">
                                City:
                                <%= project.city %>
                            </div>
                        </div>
                    </h4>
                </div>
                <article class="notes">
                    <% if (!docs) { %>
                        <div class="row">
                            <div class="col-sm">
                                Document Name: <strong>Contingency Agreement</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                Document Name: <strong>SOW Addendum</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Materials & Colors</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>PreCon Evaluation</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Insurance Authorization</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Mortgage Authorization</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Original Scope</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Final Scope</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Supplement</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Photo Report</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>GC Letter</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Assignment</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Contruction Contract</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Construction Addendum</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                            </div>
                        </div>
                        <% } else { %>
                            <% for (let doc of docs) { %>
                                <div class="row">
                                    <div class="col-sm">
                                        Document Name: <strong>Contingency Agreement</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        Document Name: <strong>SOW Addendum</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Materials & Colors</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>PreCon Evaluation</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Insurance Authorization</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Mortgage Authorization</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Original Scope</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Final Scope</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Supplement</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Photo Report</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>GC Letter</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Assignment</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Contruction Contract</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Construction Addendum</strong>
                                    </div>
                                    <div class="col-sm">
                                        File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-sm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-sm">Download File</a>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                </article>
                <br>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>