<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1><strong>Documents</strong></h1>
                    <h4>
                        <div class="row">
                            <div class="col-sm">
                                Project#:
                                <%= project.projectNo %>
                            </div>
                            <div class="col-sm">
                                Owner:
                                <%= project.owner1Fn %>
                                    <%= project.owner1Ln %>
                            </div>
                            <div class="col-sm">
                                Address:
                                <%= project.address %>
                            </div>
                            <div class="col-sm">
                                City:
                                <%= project.city %>
                            </div>
                        </div>
                    </h4>
                </div>
                <article class="docs">
                    <% if (!docs) { %>
                        <div class="row">
                            <div class="col-sm">
                                Document Name: <strong>Contingency Agreement</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=1>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=1>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                Document Name: <strong>SOW Addendum</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=2>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=2>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Materials & Colors</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=3>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=3>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>PreCon Evaluation</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=6>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=6>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Insurance Authorization</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=5>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=5>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Mortgage Authorization</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=4>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=4>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Original Scope</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=11>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=11>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Final Scope</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=15>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=15>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Supplement</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=14>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=14>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Photo Report</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=13>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=13>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>GC Letter</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=8>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=8>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Assignment</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=7>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=7>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Contruction Contract</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=9>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=9>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                File Name: <strong>Construction Addendum</strong>
                            </div>
                            <div class="col-sm">
                                File Name: <strong>Filename</strong>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=10>
                                <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                            </div>
                            <div class="col-sm">
                                <input type="hidden" name="type" value=10>
                                <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                            </div>
                        </div>
                        <% } else { %>
                            <% for (let doc of docs) { %>
                                <div class="row">
                                    <div class="col-sm">
                                        Document Name: <strong>Contingency Agreement</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=1> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        Document Name: <strong>SOW Addendum</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=2> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Materials & Colors</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=3> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>PreCon Evaluation</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=6> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Insurance Authorization</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=5> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Mortgage Authorization</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=4> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Original Scope</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=11> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Final Scope</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=15> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Supplement</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=14> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Photo Report</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=13> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>GC Letter</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=8> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Assignment</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=7> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Contruction Contract</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=9> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        File Name: <strong>Construction Addendum</strong>
                                    </div>
                                    <div class="col-sm">
                                        <input type="hidden" name="type" value=10> File Name: <strong>Filename</strong>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docAdd/<%= project.id %>" class="btn-xsm">Upload File</a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/docEdit/<%= project.id %>" class="btn-xsm">Download File</a>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                </article>
                <br>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>