<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">
    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                <%- include('../includes/navigation.ejs') %>
                    <main>
                        <div class="centered">
                            <h1><strong>Exclusions</strong></h1>
                            <h4>
                                <div class="row">
                                    <div class="col-sm">
                                        Project#:
                                        <%= project.projectNo %>
                                    </div>
                                    <div class="col-sm">
                                        Owner:
                                        <%= project.owner1Fn %>
                                            <%= project.owner1Ln %>
                                    </div>
                                    <div class="col-sm">
                                        Address:
                                        <%= project.address %>
                                    </div>
                                    <div class="col-sm">
                                        City:
                                        <%= project.city %>
                                    </div>
                                </div>
                            </h4>

                            <article class="notes">
                                <form class="form" action="/exclusions" method="POST">
                                    <div class="row">

                                        <div class="col-sm">
                                            <label for="projectId"><strong>Project Id: </strong></label>
                                            <input type="text" name="projectId" id="projectId" value="<%= projId %>">
                                        </div>
                                        <div class="col-sm">
                                            <label for="entryDate"><strong>Entered On: </strong></label>
                                            <input type="text" name="entryDate" id="entryDate" value="<%= new Date() %>">
                                        </div>
                                        <div class="col-sm">
                                            <label for="enteredBy"><strong>Entered By: </strong></label>
                                            <input type="text" name="enteredBy" id="enteredBy" value="<%= userName %>">
                                        </div>
                                        <div class="col-sm" style="width: 200px">
                                            <label for="tradeId"><strong>Trade: </strong></label>
                                            <select style="width: 200px" class="select" name="tradeId" id="tradeId">
                                    <% for (let trades of trade) { %>
                                    <option value="<%= trades.id %>">
                                    <%= trades.trade %></option>
                                    <% } %>
                                </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="exclAmt"><strong>Amount: </strong></label>
                                            <input type="currency" name="exclAmt" id="exclAmt">
                                        </div>
                                        <div class="col-sm">
                                            <label for="exclMemo"><strong>Description: </strong></label>
                                            <textarea cols="50" rows="1" type="text" name="exclMemo" id="exclMemo"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn-sm text-center" style="width: 125px" type="submit"> Add Exclusion</button>
                                        <br>
                                        <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to FinancialInfo</a>
                                    </div>
                                </form><br>
                            </article>
                            <br>
                            <br><br>
                            <br><br>
                            <br>
                            <br>
                            <article class="notes">
                                <strong><div class="row">
                                <div class="col-sm">
                                    Entered By
                                </div>
                                <div class="col-sm">
                                    Date Entered
                                </div>
                                <div class="col-sm">
                                    Trade
                                </div>
                                <div class="col-sm">
                                    Amount
                                </div>
                                <div class="col-sm">
                                    Description
                                </div>
                                <div class="col-sm">
                                    <strong></strong>
                        </div>
                        </div>
                        </strong>
                        <% for (let adds of aD) { %>
                            <div class="row">
                                <div class="col-sm">
                                    <%= adds.enteredBy %>
                                </div>
                                <div class="col-sm">
                                    <%= adds.entryDate %>
                                </div>
                                <div class="col-sm">
                                    <%= adds.trade.trade %>
                                </div>
                                <div class="col-sm">
                                    <%= money.format(adds.exclAmt) %>
                                        <% project.totalExclusions %>
                                </div>
                                <div class="col-sm">
                                    <%= adds.exclMemo %>
                                </div>
                                <div class="col-sm">
                                    <a class="btn-esm text-center" style="width: 150px" href="/exclEdit/<%= adds.id %>">Edit</a>
                                </div>
                                <br>
                            </div>
                            <% } %>
                                <article>
                                    <div class="row">
                                        <div class="col-sm">
                                            <strong>Total Exclusions: </strong>
                                            <%= money.format(project.totalExclusions) %>
                                        </div>
                                    </div>
                                </article>
                                </div>

                    </main>

                    <%- include('../includes/footer.ejs') %>
                        <script src="/js/status.js"></script>