<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/info.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <br>
                    <h1>General Information </h1>
                    <br>
                </div>
                <article class="ownerinfo">
                    <form class="form" action="/generalInfo" method="POST">
                        <div class="row">
                            <div class="hidden">
                                <input type="hidden" name="projectId" id="projectId" value="<%= project.id %>">
                            </div>
                            <div class="col-sm">
                                <label for="projectNo"><strong>Project No: </strong></label>
                                <input type="text" name="projectNo" No="projectNo" value="<%= project.projectNo %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm" style="width: 25%">
                                Sales Rep: <strong><%= project.sale.name %></strong>
                                <select class="select" name="saleId" id="saleId">
                                    <option value="<%= project.sale.id %>">
                                        <%= project.sale.name %></option>
                                    <% for (let sale of sal) { %>
                                    <option value="<%= sale.id %>">
                                    <%= sale.name %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-sm" style="width: 25%">
                                Supervisor: <strong><%= project.supervisor.name %></strong>
                                <select class="select" name="supervisorId" id="supervisorId">
                                    <option value="<%= project.supervisor.id %>">
                                        <%= project.supervisor.name %></option>
                                    <% for (let sup of supers) { %>
                                    <option value="<%= sup.id %>">
                                    <%= sup.name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="entDate"><strong>Date Entered: </strong></label>
                                <input type="date" name="entDate" No="entDate" value="<%= project.entDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="compDate"><strong>Date Completed: </strong></label>
                                <input type="date" name="compDate" No="compDate" value="<%= project.compDate %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="estDate"><strong>Date to Estimating: </strong></label>
                                <input type="date" name="estDate" No="estDate" value="<%= project.estDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="collectDate"><strong>Date to Collections: </strong></label>
                                <input type="date" name="collectDate" No="collectDate" value="<%= project.collectDate %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="prodDate"><strong>Date to Production: </strong></label>
                                <input type="date" name="prodDate" No="prodDate" value="<%= project.prodDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="cancelDate"><strong>Date Canceled: </strong></label>
                                <input type="date" name="cancelDate" No="cancelDate" value="<%= project.cancelDate %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="aiDate"><strong>Date to Awaiting Inspection: </strong></label>
                                <input type="date" name="aiDate" No="aiDate" value="<%= project.aiDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="denyDate"><strong>Date Denied: </strong></label>
                                <input type="date" name="denyDate" No="denyDate" value="<%= project.denyDate %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="closeDate"><strong>Date to Close Out: </strong></label>
                                <input type="date" name="closeDate" No="closeDate" value="<%= project.closeDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="holdDate"><strong>Date put on Hold: </strong></label>
                                <input type="date" name="holdDate" No="holdDate" value="<%= project.holdDate %>">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="centered">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="updatebtn" type="submit">Update General Information</button>
                            <br>
                            <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to Project Details</a>
                        </div>
                    </form>
                    </h6>
            </main>

            <%- include('../includes/footer.ejs') %>