<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/info.css">

    </head>

    <body>
        <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
            <%- include('../includes/navigation.ejs') %>
                <main><br><br><br>
                    <div class="centered">
                        <h1><strong>Insurance Information</strong></h1>
                        <h4>
                            <div class="row">
                                <div class="col-sm">
                                    Project#:
                                    <%= project.projectNo %>
                                </div>
                                <div class="col-sm">
                                    Owner:
                                    <%= project.owner1Fn %>
                                        <%= project.owner1Ln %>
                                </div>
                                <div class="col-sm">
                                    Address:
                                    <%= project.address %>
                                </div>
                                <div class="col-sm">
                                    City:
                                    <%= project.city %>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <br>
                    <article class="insuranceinfo">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">
                                <form class="form" action="/insuranceInfo" method="POST">
                                    <div class="row">
                                        <div class="form-control mb-3 mr-sm-2">
                                            <input type="hidden" name="projectId" id="projectId" value="<%= project.id %>">
                                        </div>
                                        <div class="col-sm">
                                            Insurance Company: <strong><%= project.insurance.coName %></strong>
                                            <select class="select" name="insuranceId" id="insuranceId">
                                            <option value="<%= project.insurance.id %>">
                                                <%= project.insurance.coName %></option>
                                            <% for (let ins of insure) { %>
                                            <option value="<%= ins.id %>">
                                            <%= ins.coName %></option>
                                            <% } %>
                                        </select>
                                        </div>
                                    </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="policyNo"><strong>Policy #:</strong></label>
                                <input type="text" name="policyNo" id="policyNo" value="<%= project.policyNo %>">
                            </div>
                            <div class="col-sm">
                                <label for="claimNo"><strong>Claim #:</strong></label>
                                <input type="text" name="claimNo" id="claimNo" value="<%= project.claimNo %>">
                            </div>
                        </div>
                        <br>
                        <div class="row" style="width: 100%">
                            <div class="col-sm">
                                <label for="dateLoss"><strong>Date of Loss:</strong></label>
                                <input style="width: 55%" type="date" name="dateLoss" id="dateLoss" value="<%= project.dateLoss %>">
                            </div>
                            <div class="col-sm">
                                <label for="typeLoss"><strong>Type of Loss:</strong></label>
                                <input style="width: 25%" type="text" name="typeLoss" id="typeLoss" value="<%= project.typeLoss %>">
                            </div>
                            <div class="col-sm">
                                <label for="deductible"><strong>Deductible:</strong></label>
                                <input style="width: 30%" id="deductible" type="text" name="deductible" value="<%= money.format(project.deductible) %>">
                            </div>
                        </div>
                        <br>
                        <div class="row" style="width: 100%">
                            <div class="col-sm">
                                <label for="oScopeDate"><strong>Origonal Scope Date:</strong></label>
                                <input style="width: 50%" id="oScopeDate" type="date" name="oScopeDate" value="<%= project.oScopeDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="oScopeRCV"><strong>Origonal Scope RCV:</strong></label>
                                <input style="width: 50%" id="oScopeRCV" type="number" name="oScopeRCV" value="<%= money.format(project.oScopeRCV) %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="fScopeDate"><strong>Final Scope Date:</strong></label>
                                <input style="width: 50%" id="fScopeDate" type="date" name="fScopeDate" value="<%= project.fScopeDate %>">
                            </div>
                            <div class="col-sm">
                                <label for="fScopeRCV"><strong>Final Scope RCV:</strong></label>
                                <input style="width: 50%" id="fScopeRCV" type="number" name="fScopeRCV" value="<%= money.format(project.fScopeRCV) %>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <label for="adjName"><strong>Adjuster's Name:</strong></label>
                                <input style="width: 150px" id="adjName" type="text" name="adjName" value="<%= project.adjName %>">
                            </div>
                            <div class="col-sm">
                                <label for="adjPhone"><strong>Adjuster's Phone:</strong></label>
                                <input style="width: 50px" id="adjPhone1" type="text" name="adjPhone1" value="<%= project.adjPhone.substring(0,3) %>">
                                <input style="width: 50px" id="adjPhone2" type="text" name="adjPhone2" value="<%= project.adjPhone.substring(3,6) %>">
                                <input style="width: 100px" id="adjPhone3" type="text" name="adjPhone3" value="<%= project.adjPhone.substring(6,10) %>">
                            </div>
                        </div>
                        <div class="centered">
                            <br>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="updatebtn" type="submit">Update Insurance Information</button>
                            <br>
                            <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to Project Details</a>
                        </div>
                        </form>
                        </h6>
                        </div>
                    </article>
                </main>

                <%- include('../includes/footer.ejs') %>