<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
                    <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                        <div class="centered">
                            <h1>Job Costs</h1>
                            <article class="fullA">
                                <form class="form" action="/jcEdit" method="POST">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="hidden" name="jcId" id="jcId" value="<%= jc.id %>">
                                            <label for="enteredBy"><strong>Entered By: </strong></label>
                                            <input type="text" name="enteredBy" id="enteredBy" value="<%= jc.enteredBy %>">
                                        </div>
                                        <div class="col-sm">
                                            <label for="entryDate"><strong>Entry Date: </strong></label>
                                            <input type="text" name="entryDate" id="entryDate" value="<%= jc.entryDate %>">
                                        </div>
                                        <div class="col-sm" style="width: 200px">
                                            <label for="tradeId"><strong>Trade: </strong></label>
                                            <select style="width: 200px" class="select" name="tradeId" id="tradeId">
                                                <option value="<%= jc.trade.id %>">
                                                    <%= jc.trade.trade %></option>
                                    <% for (let trades of trade) { %>
                                    <option value="<%= trades.id %>">
                                    <%= trades.trade %></option>
                                    <% } %>
                                </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="costAmt"><strong>Amount: </strong></label>
                                            <input type="text" name="costAmt" id="costAmt" value="<%= jc.costAmt %>">
                                        </div>
                                        <div class="col-sm ">
                                            <label for="costMemo"><strong>Description: </strong></label>
                                            <input type="text " name="costMemo" id="costMemo" value="<%= jc.costMemo %>">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <input type="hidden" name="projectId" value="<%= jc.projectId %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn-sm text-center" style="width: 125px" type="submit">Save</button>
                                        <br>
                                        <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back to Details</a>
                                    </div>
                                </form>
                            </article>
                        </div>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>