<article class="fullA">
    <form class="form" action="/wtb" method="POST"></form>
    <div class="row">
        <div class="col-sm">
            <strong>Line #</strong>
        </div>
        <div class="col-sm">
            <strong>Trade</strong>
        </div>
        <div class="col-sm">
            <strong>RCV</strong>
        </div>
        <div class="col-sm">
            <strong>O & P</strong>
        </div>
        <div class="col-sm">
            <strong>Net</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="line"><strong>Line(s): </strong></label>
            <input type="text" name="line" id="line">
        </div>
        <div class="col-sm" style="width: 200px">
            <label for="tradeId"><strong>Trade: </strong></label>
            <select style="width: 200px" class="select" name="tradeId" id="tradeId">
                <% for (let trades of trade) { %>
                <option value="<%= trades.id %>">
                <%= trades.trade %></option>
                <% } %>
            </select>
        </div>
        <div class="col-sm">
            <label for="RCV"><strong>RCV: </strong></label>
            <input type="text" name="rcv" id="rcv">
        </div>
        <div class="col-sm ">
            <label for="OP "><strong>O & P: </strong></label>
            <input type="text " name="op " id="op ">
        </div>
    </div>
    <div class="row">
        <br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn-sm text-center" style="width: 125px" type="submit"> Add Line Item</button>
        <br>
        <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back Details</a>
    </div>
    </form>
</article>
</div>


<article class="fullA">
    <div class="row">
        <div class="col-sm">
            <strong>Line #</strong>
        </div>
        <div class="col-sm">
            <strong>Trade</strong>
        </div>
        <div class="col-sm">
            <strong>RCV</strong>
        </div>
        <div class="col-sm">
            <strong>O & P</strong>
        </div>
        <div class="col-sm">
            <strong>Net</strong>
        </div>
    </div>
    <% for (let wtb of wtbs) { %>
        <div class="row">
            <div class="col-sm">
                <%= wtb.line %>
            </div>
            <div class="col-sm">
                <%= wtb.trade %>
            </div>
            <div class="col-sm">
                <%= wtb.rcv %>
            </div>
            <div class="col-sm">
                <%= wtb.op %>
            </div>
            <div class="col-sm">
                <%= wtb.net %>
            </div>
        </div>
        <% } %>
</article>