<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
                    <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                        <div class="centered">
                                <h1><strong>Documents</strong></h1>
                                <h4>
                                    <div class="row">
                                        <div class="col-sm">
                                            Project#:
                                            <%= project.projectNo %>
                                        </div>
                                        <div class="col-sm">
                                            Owner:
                                            <%= project.owner1Fn %>
                                                <%= project.owner1Ln %>
                                        </div>
                                        <div class="col-sm">
                                            Address:
                                            <%= project.address %>
                                        </div>
                                        <div class="col-sm">
                                            City:
                                            <%= project.city %>
                                        </div>
                                    </div>
                                </h4>

                            <article class="fullA">
                                <form class="form" action="/wtb" method="POST">
                                    <div class="row">
                                        <div class="col-sm">
                                            <label for="line"><strong>Line(s): </strong></label>
                                            <input type="text" name="line" id="line">
                                        </div>
                                        <div class="col-sm" style="width: 200px">
                                            <label for="tradeId"><strong>Trade: </strong></label>
                                            <select style="width: 200px" class="select" name="tradeId" id="tradeId">
                                    <% for (let trades of trade) { %>
                                    <option value="<%= trades.id %>">
                                    <%= trades.trade %></option>
                                    <% } %>
                                </select>
                                        </div>
                                        <div class="col-sm">
                                            <label for="rcv"><strong>RCV: </strong></label>
                                            <input type="text" name="rcv" id="rcv">
                                        </div>
                                        <div class="col-sm ">
                                            <label for="op"><strong>O & P: </strong></label>
                                            <input type="text " name="op" id="op">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <input type="hidden" name="projectId" value="<%= projId %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn-sm text-center" style="width: 125px" type="submit"> Add Line Item</button>
                                        <br>
                                        <a class="btn-sm text-center" style="width: 150px" href="/project/<%= project.id %>">Back Details</a>
                                    </div>
                                </form>
                            </article>
                        </div>
                        <div class="centered">
                            <article class="fullA">
                                <div class="row" style="text-align: right">
                                    <div class="col-sm">
                                        <strong>Line #</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>Trade</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>RCV</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>O & P</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong>Net</strong>
                                    </div>
                                    <div class="col-sm">
                                        <strong></strong>
                                    </div>
                                </div>
                                <% for (let wtb of wtbs) { %>
                                    <div class="row" style="text-align: right">
                                        <div class="col-sm">
                                            <%= wtb.line %>
                                        </div>
                                        <div class="col-sm">
                                            <%= wtb.trade.trade %>
                                        </div>
                                        <div class="col-sm">
                                            <%= money.format(wtb.rcv) %>
                                        </div>
                                        <div class="col-sm">
                                            <%= money.format(wtb.op) %>
                                        </div>
                                        <div class="col-sm">
                                            <%= money.format(wtb.net) %>
                                        </div>
                                        <div class="col-sm">
                                            <a class="btn-esm text-center" style="width: 150px" href="/wtbEdit/<%= wtb.id %>">Edit</a>
                                        </div>
                                    </div>
                                    <% } %>
                            </article>
                        </div>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>