<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% const money = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',minimumFractionDigits: 2}); %>
                    <% const percent = new Intl.NumberFormat('en-US', {style: 'percent',minimumFractionDigits: 1}); %>
                        <div class="centered">
                            <h1>Budget by Trade</h1>
                        </div>
                        <div class="centered">
                            <!-- Roof Trade -->

                            <div class="row">
                                <div class="col-sm">
                                    <strong>Roof <%= money.format(net1) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Gutters <%= money.format(net2) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Siding <%= money.format(net3) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Windows <%= money.format(net4) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Trash <%= money.format(net5) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Painting <%= money.format(net6) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Doors <%= money.format(net7) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Fence <%= money.format(net8) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Outbuildings <%= money.format(net9) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Deck <%= money.format(net10) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Interior <%= money.format(net11) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Electrical <%= money.format(net12) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Plumbing <%= money.format(net13) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>HVAC <%= money.format(net14) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Solar Panels <%= money.format(net15) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Anwings/Canopies <%= money.format(net16) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Signage <%= money.format(net17) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Supervision <%= money.format(net18) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Rental Equipment <%= money.format(net19) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Other <%= money.format(net20) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Personal Property <%= money.format(net21) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Overhead & Profit <%= money.format(net22) %></strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <strong>Sales Tax <%= money.format(net23) %></strong>
                                </div>
                            </div>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>